apiVersion: apps/v1
kind: Deployment
metadata:
  name: flask
  namespace: flask-mongo
  labels:
    app: flask
spec:
  replicas: 2
  selector:
    matchLabels:
      app: flask
  template:
    metadata:
      labels:
        app: flask
    spec:
      containers:
        - name: flask
          image: thekhushij/flask-mongo-app:v1
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8080
          env:
            - name: MONGO_USER
              valueFrom:
                secretKeyRef:
                  name: mongo-creds
                  key: MONGO_USER

            - name: MONGO_PASS
              valueFrom:
                secretKeyRef:
                  name: mongo-creds
                  key: MONGO_PASS

            - name: MONGO_HOST
              value: "mongo:27017"

          resources:
            requests:
              cpu: "200m"
              memory: "250Mi"
            limits:
              cpu: "500m"
              memory: "500Mi"

          readinessProbe:
            httpGet:
              path: /
              port: 8080
            initialDelaySeconds: 5
            periodSeconds: 10

          livenessProbe:
            httpGet:
              path: /
              port: 8080
            initialDelaySeconds: 15
            periodSeconds: 20
